<ion-view view-title="Управление">
  <ion-content>
    <div class="range">
          <input type="range" name="RED" min="0" max="254" ng-model="data.RED">
        <i class="icon assertive ion-ios-lightbulb"></i>
        </div>
        <div class="range">
          <input type="range" name="GREEN" min="0" max="254" ng-model="data.GREEN">
        <i class="icon balanced ion-ios-lightbulb"></i>
        </div>
        <div class="range">
          <input type="range" name="BLUE" min="0" max="254" ng-model="data.BLUE">
          <i class="icon positive ion-ios-lightbulb"></i>
       </div>
       <div class="range">
         <input type="range" name="speed" min="1" max="150" ng-model="data.speedChange">
       <i class="icon balanced ion-ios-speedometer"></i>
       </div>
  
  </ion-content>
</ion-view>
